body{
	
}

.logo{
	background-image: url(../media/aydın/logo.png);
	background-color: blue;
	width: 91px;
	height: 140px;
	margin-left: 70px;
	float: left;
	margin-bottom: 20PX;
}
.linkler{
	display: flex;
	float: left;
	width: 1000px;
	height: 60px;
	margin-top: 40px;
	background-color: blue;
	margin-left: 80px;
	border-radius: 2PX;

}
.ev{
	background-image: url(../media/aydın/ev.png);
	background-size: 50px;
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 20px;
	border-radius: 5px;
}

.l1{
	float: left;
	text-align: center;
	line-height: 60px;
	width: 140px;
	font-size: 17px;
}
.l1 a{
	display: block;
	text-decoration: none;
	color: white;
}
.l1 a:hover{
	color: blue;
	background-color: white;
	height: 55px;
}
.ata{
	background-image: url(../media/aydın/ata.png);
	width: 120px;
	height: 100px;
}
.bır{
	 background-image: url(../media/galeri/2.jpeg);
	 background-size: 450px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 100px;
	 margin-left: 50px;
	}
.bıry{
	
}
.ıkı{
	 background-image: url(../media/galeri/4.jpg);
	 background-size: 430px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 100px;
	 margin-left: 10px;
}
.uc{
	background-image: url(../media/galeri/14.jpg);
	 background-size: 300px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 100px;
	 margin-left: 10px;
}
.dort{
	 background-image: url(../media/galeri/5.jpg);
	 background-size: 450px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 20px;
	 margin-left: 210px;
}
.bes{
	background-image: url(../media/galeri/6.jpg);
	 background-size: 450px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 20px;
	 margin-left: 10px;

}
.altı{
	 background-image: url(../media/galeri/12.jpg);
	 background-size: 450px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 20px;
	 margin-left: 10px;
}
.yedı{
	 background-image: url(../media/galeri/9.jpg);
	 background-size: 450px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 20px;
	 margin-left: 210px;
}
.sekız{
	 background-image: url(../media/galeri/10.jpg);
	 background-size: 450px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 20px;
	 margin-left: 10px;
}
.dokuz{
	 background-image: url(../media/galeri/11.jpg);
	 background-size: 450px;
	 width: 300px;
	 height: 300px;
	 float: left;
	 margin-top: 20px;
	 margin-left: 10px;
}
